/* WeatherBlock.jsx */
.weather--block {
    text-align: center;
    min-width: 45px;
    max-height: 140px;
    padding: 15px;
    background: linear-gradient(175deg, rgb(174,72,233) 17%, rgb(213,104,212) 70%, rgb(238,170,163) 198%);
    border-radius: 25px;
}

.weather--block p, .weather--block :first-child {
    color: #fff;
    padding: 4px 0;
}

.icon {
    font-size: 22px;
}