.current-icon-wrapper {
    position:absolute;
    top: 0px;
    right: 0px;
}

.current-icon {
    height: 450px;
}

.current-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 200px;
}

.current-temp {
    font-size: 90px;
    line-height: 75px;
}

.current-sky {
    font-size: 55px;

}

.current-location {
    line-height: 140px;
}