/* FORCAST > STYLING */
.tabs-wrapper {
  position: fixed;
  bottom: 0;
}

.tabs {  
    display: flex; 
    width: 100vw;
  }
  .tab {  
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgb(22, 22, 23); 
    padding: 2em 0;  
    border: none;
    color: #fff;
  }
  .tab:not(:last-child) {
    border-right: 1px solid (22, 22, 23);  
  }
  .tab.active {
    border-bottom: 3px solid #FE3733;
    font-weight: bold;
  }
  .panel {
    display: none;
    background-color: #eaeaea;
    padding: 10px;
  }
  .panel.active {
    display: block;
  }


  .forcast-wrapper {
    background-color: rgb(22, 22, 23);
  }

  .forcast-tab {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }



  .weather-block {
    text-align: center;
    color: #fff;
    padding: 0 10px;
  }

  .weather-block p {
    padding: 8px 0;
  }